@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">&#128197 Agenda Digital</h1>
    <p>Bem vindo a sua agenda digital. Para acessar suas funcionalidades, utilize uma das funções abaixo &#x1F447</p>
    <ul>
        <li><a asp-controller="Agenda" asp-action="Index">Consultar agenda</a></li>
        <li><a asp-controller="Agenda" asp-action="Save">Adicionar contato</a></li>
        <li><a asp-controller="Agenda" asp-action="Update">Atualizar contato</a></li>
        <li><a asp-controller="Agenda" asp-action="Delete">Deletar contato</a></li>
    </ul>
</div>
