ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
}

li {
    list-style-type: none;
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: cornflowerblue;
}

a {
    color: white;
}
