<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <h1>Secao de Teste</h1>
    <p>Entre com os dados abaixo para eviar um E-mail</p>

    <form action="localhost:8080/user" th:action="@{/post}" method="post">
      <label for="email">Email</label>
      <input type="text" name="email" th:field="*{email}" />

      <button type="submit" value="Submit">Enviar</button>
      <input type="reset" value="Reset" />
    </form>
  </body>
</html>
